<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Cards Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>.container{
  background-color: antiquewhite;
  margin:10px 20px;
}
  .card{
    margin: 20px;
  }
  .header{
    text-align: center;
  }

</style>
<body>
 

<div class="container">
  <h2 class="header">Department Of Computer Science and Engineering</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card pb-md-5 mb-5">
        <div class="card-body">
          <h5 class="card-title">Exam Committee </h5>
         
        <a href="#">1st year</a> <br>
        <a href="#">2nd year</a> <br>
        <a href="#">3rd year</a><br>
        <a href="#">4th year</a> <br>
          
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-6">
      <div class="card pb-md-5 mb-5">
        <div class="card-body">
          <h5 class="card-title">Courses</h5>
          <p class="card-text">Theory Courses</p>
          <p class="card-text">Lab courses</p>
        
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



