.table-container {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-container th, .table-container td {
    border: 1px solid black;
    padding: 8px;
    
  }