.Title {
    box-sizing: border-box;
    width: 100%;
    /* height:100%; */
    display:block;
    margin:auto;
  

    justify-content: center;
    align-items: center;
    /* padding:1em;
    margin-bottom: 1em;  */
    background-color:white;
    color:black;
    text-align: center;
  }
  .dept{
    align-items: center;
  }
  p.title{
    line-height: 0.7;
    font-weight: bold;
  }
  /* .left{
    float:left;
  }
  .right{
    float:right;
  } */
  body{
    padding:30px;

  }
  .img-left{
    float:left;
   
  }
  .para1{
    margin-bottom:1px;
    margin-top:0.1px;
   
  }
  
.line{
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
}
.exam-para{

  margin-bottom: 40px;
  
 
}

  .left {
    float: left;
  }
  .right {
    text-align: right;
  }
  .line {
    clear: both;
  }
  .dept{
    font-weight:0.5rem;
    font-size:20px;
  }
